@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deg: 1;
  --x: -50%;
  --y: -50%;
}

#spotlight {
  background: radial-gradient(600px at var(--x) var(--y),
      rgba(29, 78, 216, 0.15),
      transparent 80%);
}